.openerp .oe_list_content > tbody > tr > td[data-field='state']
{
  white-space: nowrap ; 
}
.openerp .oe_list_content > tbody > tr > td[data-field='order_state']
{
  white-space: nowrap ; 
}
.openerp .oe_form .oe_subtotal_footer label.oe_form_label {
  font-weight: normal;
}
.openerp .oe_form_sheetbg {
  padding: 16px 0;
  max-width: none !important;
}
.openerp .oe_form_sheet_width_wider {
  max-width: 1130px;
}
/*
Make the form width same as the window
*/
.openerp .oe_form_sheet_width {
  max-width: 94%;
}